* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.livelock {
    color: rgb(255,0,40);
    background: rgb(240,240,240);
    padding: 0.2em 0 0.2em 0;
}

.user {
    padding-left: 0.1em;
}


body {
    color: rgb(60,60,60);
}

input {
    border: 1px solid rgb(220,220,220);
    width: 100%;
}


div#top {
  text-align: center;
  height: 2em;
}

span#loading {
/*  visibility: hidden;*/
}

div#image {
  _text-align: center;
  float: left;
}

div#conversation {
  float: right;
  width: 60%;
}

div#image p {
  margin: 0 0 1em 0;
}

div#wrapper {
    width: 60%;
    margin: 1em auto 1em auto;
}

div#messages {
    height: 400px;
    overflow: auto;
    background: rgb(250,250,250);
    border: 1px solid rgb(220,220,220);
}

div#messages p {
  margin: 0 0 1em 0;
}

div#form {
    margin-top: 1em;
}