{% extends "base.html" %}

{% block page-id %}shell{% endblock %}

{% block head-end %}
<script type="text/javascript">

var _imgIdx = 0
var _images = [ "http://farm5.static.flickr.com/4030/4339301211_ac39f8999d_m.jpg",
    "http://farm5.static.flickr.com/4070/4430963908_2634f15896_m.jpg" ]

var _counter = 1

function _add(text, cssClass, fade) {
    var tag = $('<p class="' + cssClass + '">' + text + '</p>')
    if (fade)
        tag.css("display", "none")
    var message = $("div#messages")
    message.append(tag)
    if (fade)
        tag.fadeIn("slow")
        
    // scrolls to bottom
    // uses multiple of _counter to ensure we can always scroll to the bottom
    message.scrollTop(_counter * 100)
}

function _user(text) {
    _add(text, "user", false)
}

function _livelock(text) {
    _add("> " + text, "livelock", true)
}

function _count() {
    if (_counter % 10 == 0)
        _toggleImage()
    
    _counter++
}

function _toggleImage() {
    if (_imgIdx == 0)
        _imgIdx = 1
    else if (_imgIdx == 1)
        _imgIdx = 0

    var newImg = new Image()
    var imgUrl = _images[_imgIdx]
    // _livelock(imgUrl)
    newImg.src = imgUrl
    var img = $("img")
    img.css("display", "none")
    img.attr("src", newImg.src)
    // _livelock(img.src)
    img.fadeIn("slow")
}

$(document).ready(function() {
    input = $("input")
    
    $("form").submit(function(e) {
        var text = input.val()
        _user(text)
        
        var successCall = function(data) {
            _livelock(data.response)
            _count()
            input.val("")
        }
        
        var errorCall = function(request, status, e) {
            _livelock(status)
        }
        
        var options = {
            type: "GET",
            url: "/api/mixture/response",
            data: { "q": text },
            success: successCall,
            error: errorCall,
            dataType: "json",
        }
        $.ajax(options)
        
        return false
    })
    
    _livelock("hello")
    
    input.focus()
})
</script>
{% endblock %}

{% block content %}
    <div id="image">
        <img src="http://farm5.static.flickr.com/4030/4339301211_ac39f8999d_m.jpg" alt="livelock"/>
    </div>
    
    <div id="conversation">
        <div id="messages"></div>
        
        <p class="clear"></p>
        
        <div id="form">
            <form>
                <input type="text"/>
            </form>
        </div>
    </div>
{% endblock %}
